<h1>ChatGPT</h1>conversations/show.html.erb
<%= current_user.id %>
<div class='container'>
    <%= render 'templates/conv_threads', pre_system: @pre_system, conversations: @conversations, conversation:@conversation,new_conversation:@new_conversation, chat:@chat,chats: @chats %>
    
</div>