
<div class="row justify-content-center mt-3">
  <div class="col-md-10 col-lg-8">
    <!-- アプリ概要と注意事項 -->
    <div class="p-5 border rounded shadow bg-light">
      <!-- GAISタイトル -->
      <h1 class="text-center mb-4"><i class="fa-regular fa-chess-knight m-2"></i>GAIS</h1>
      <p class="lead text-center">
        GAISは、ChatGPT、Claude、Geminiの最新の生成AIモデルを活用できるプラットフォームです。利用者の皆様が最先端のAIを最大限に活用できるようサポートします。
      </p>

      <!-- 重要なご案内 -->
      <h3 class="text-center mt-5 mb-3"><i class="fa-solid fa-exclamation-circle m-2"></i>重要なご案内</h3>
      <p class="text-center">
        本アプリは、現在限定的な資金で運営されています。東北大学のメールアドレスを使用して利用する場合、費用はGoogle exploreCSR 2022/2023の予算から賄われます。この予算が終了すると、サービスが予告なく終了する可能性があります。ただし、サービスが終了した場合でも、過去のチャットログは引き続き閲覧可能です。
      </p>
      <!-- ログインボタン -->
      <% unless user_signed_in? %>
        <div class="d-flex justify-content-center align-items-center pt-3">
          <%= button_to omniauth_authorize_path(:user, :google_oauth2), data: { turbo: false }, class: "custom-login-btn nav-link d-flex align-items-center justify-content-center p-3" do %>
            <i class="fa-solid fa-right-to-bracket me-2"></i> 
            <span class="d-none d-lg-inline smaller-text">ログイン</span>
            <span class="d-lg-none">ログイン</span>
          <% end %>
        </div>
      <% end %>

      <!-- フィードバックフォームリンク (右端に配置) -->
      <div class="d-flex justify-content-end pt-4">
        <p class="small">
          <a href="https://forms.gle/N99hS6EGCDS8dTy6A" target="_blank" style="text-decoration:underline; color: #007bff;">
            ご意見・フィードバックはこちら
          </a>
        </p>
      </div>


      <!-- CSSでカスタマイズ -->
    <%# <style>
      .custom-login-btn {
        background-color: #007bff; /* 背景色 */
        color: white; /* テキストカラー */
        border-radius: 30px; /* 丸み */
        border: none; /* ボーダーを削除 */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* シャドウ */
        transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s; /* ホバー時のアニメーション */
      }

      .custom-login-btn:hover {
        background-color: #0056b3; /* ホバー時の色 */
        transform: translateY(-3px); /* 浮き上がるアニメーション */
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* シャドウ強調 */
      }

      .custom-login-btn i {
        font-size: 1.2em; /* アイコンサイズ */
      }

      .smaller-text {
        font-size: 0.9em; /* テキストサイズ */
      }
    </style> %>
    </div>

  </div>
</div>

